In [1]:
from voluptuous import Schema, All, Range, ALLOW_EXTRA
import pandas as pd

In [3]:
# path of the valid data
valid_file_path = "../data/adult.csv"
test_file_path = "../data/adult_with_duplicates.csv"

In [4]:
columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation",
               "relationship",
               "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
df1 = pd.read_csv(valid_file_path, names=columns, header=None)

In [7]:
# I had to fiddle a little to pass the right dict-type data structure into the schema
# This returns the df if the tests pass, or throws an error if a test fails
def validate_df(df):
    schema = Schema(
        {
            'age': All(int,Range(min=1, max=100)),
            'education': All(str)
        },
        extra=ALLOW_EXTRA
    )
    for r in df.to_dict('records'):
        schema(r)
    return df

# Test this out with df1, which should pass
validate_df(df1).head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
df2 = pd.read_csv(test_file_path, names=columns, header=1, sep=',', na_values=["null"])
df2 = df2.fillna({"age": 0})
df2 = df2.astype({"age": int}, errors='ignore')
df2.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,-12,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,0,emp-by-pengfei,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
3,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
4,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [9]:
try:
    validate_df(df2).head()
except Exception as e:
    print("**Exception**", e)

**Exception** value must be at least 1 for dictionary value @ data['age']